* {
    box-sizing: border-box;
}

:root {
    --bg: #f6f2ea;
    --post-bg: #f4f4f4;
    --text: #212121;
    --dark-text: #000000;
    --btn: #D6CDC6;
    --btn-hover: #D6C8BF;
    --btn-active: #CCBEB5;
    --link: #833834;
    --link-hover: #cb605a;
    --decorate: #d26d68;
    --post-img-bg: #dcd9d3;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 20px;
}

button {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 7px 5px 20px -10px #000000;
}

button:hover {
    cursor: pointer;
    color: var(--dark-text);
    background-color: var(--btn-hover);
}

button:active {
    color: var(--text);
    background-color: var(--btn-active);
}

.decorate {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--decorate);
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--link);
    text-decoration: none;
}

#full-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#full-logo {
    width: 55%;
}

hr {
    width: calc(100% + 20px);
    margin-left: -10px;
    height: 2px;
}

.header {
    font-size: 2rem;
    margin-top: 35px;
    margin-bottom: 15px;
}

#top-header {
    margin-top: 30px;
}

.description {
    margin: 0;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
}

section {
    scroll-margin-top: 80px;   /* accounts for nav bar's space */
}

#posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--text);
    border-radius: 10px;
    background-color: var(--post-bg);
}

.post-cover-img {
    width: 100%;
    margin-bottom: 5px;
}

.post-title {
    margin: 10px 0;
}

.post-date {
    margin: 0;
}

.read-more-btn {
    margin-bottom: 5px;
    border-radius: 5px;
}

.click {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.5rem;
        padding: 40px;
    }

    button {
        font-size: 1.75rem;
        padding: 15px 25px;
    }

    #full-logo {
        width: 45%;
    }

    hr {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    .header {
        font-size: 3rem;
        margin-top: 100px;
    }

    section {
        scroll-margin-top: 120px;
    }

    #top-header {
        margin-top: 50px;
    }
    
    .flex {
        margin-top: 25px;
    }

    #posts-container {
        gap: 25px;
    } 

    .post {
        padding: 25px;
    }

    .post-cover-img {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1rem;
        padding: 10vw;
        padding-top: 60px;
    }

    button {
        font-size: 1.1rem;
        padding: 10px 15px;
    }

    #full-logo-container {
        margin-top: 30px;
    }

    #full-logo {
        width: 30%;
    }

    hr {
        width: 90vw;
        margin-left: -5vw;
    }

    .header {
        font-size: 2rem;
        margin-top: 45px;
    }

    section {
        scroll-margin-top: 90px;   /* accounts for nav bar's space */
    }

    #top-header {
        margin-top: 40px;
    }
    
    .flex {
        margin-top: 20px;
    }

    #posts-container {
        gap: 20px;
    }

    .post {
        flex-direction: row;
        gap: 35px;
        padding: 25px;
        height: auto;
    }

    .post-image-div {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--post-img-bg);
        overflow: hidden;
    }

    .post-image-div > div {
        height: 0;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--post-img-bg);
        overflow: hidden;
    }

    .post-cover-img {
        object-fit: contain;
        margin-bottom: 0;
    }

    .post-description {
        flex-basis: 0;
        flex-grow: 1;
        padding: 5px 0;
    }
}
